<!DOCTYPE HTML>
<!--  
<html manifest="clock.manifest"> -->
<html>
 <head>
  <title>CITIES . current local times in different places</title>
	<!-- 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->

	<script src="js/jquery-1.6.1.min.js"></script>
	<script src="js/jquery.autocomplete.js"></script>
  <!-- <script src="js/jquery-ui-1.8.14.custom.min.js"></script> -->

	<script src="js/sammy/sammy.js"></script>
	<script src="js/sammy/plugins/sammy.template.js"></script>
	<script src="js/sammy/plugins/sammy.storage.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.oauth2.js"></script>
	<script src="js/sammy/plugins/sammy.json.js"></script>
	<script src="js/sammy/plugins/sammy.title.js"></script>
	
	<!--[if IE]><script type="text/javascript" src="js/analog/excanvas.js"></script><![endif]-->
	<script type="text/javascript" src="js/analog/coolclock.js"></script>
	<script type="text/javascript" src="js/analog/moreskins.js"></script>
	
  <script src="clock.js"></script>
  

	<link rel="stylesheet" href="css/reset.css">
	<!-- <link href="css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css"/> -->
	<link rel="stylesheet" href="css/jquery.autocomplete.css">
	<link rel="stylesheet" href="fonts/ostrich-sans/stylesheet.css">
	
	<link rel="stylesheet" href="css/styles_clock.css">




 </head>
 <body>
	<!-- 
  <p>The time is: <output id="clock"></output></p>
-->
<header id="header">
<div id="toggle_format">
	
	<form action="#/put/format"  method="PUT" id="format_form">
		<input type="hidden" name="format" />
	<div class="format metric">24</div>
	<div class="format ampm">12</div>
	</form>
</div>

<h1>Cities</h1>
</header>


<div id="clocks"><!-- .clocks are loaded here... -->
	
	
	
	<div id="new_clock" class="clock">
	<form action="#/post/q"  method="POST" id="search_form">
		<h1>+</h1>
		
		<input name="q" id="q" placeholder="city name" type="search" class="field" />
		<input type="submit" value="Add Clock!" class="bt">
		
		<p>Add a new clock by typing a city name.</p>
	</form>
	</div> <!-- eo new_clock -->
	
</div><!-- eo clocks-->

<div class="clear"></div>

<footer>
<p>
	<strong>CITIES</strong>, an app by <a href="http://iplanwebsites.com/">I Plan Websites</a>.
	<br/>
	<em>Build with HTLM5, CSS3, Jquery, Sammy, Sinatra, and Heroku</em>
</p>

<div class="made_for">
	<div class="device">
		
	</div>
</div>
</footer>



 </body>
</html>
