<div class="clock">
	<h2 class="city-name"><%= city.ci %></h2>
	<h3><%= city.tz.name %></h3>
	
	<div class="analog">
		<canvas clock="analog_canvas" class="CoolClock:chunkySwiss:100:seconds:<%= (city.tz.off / 60) * -1  %>"></canvas>
	</div>
	
        <div class="offset"><%= city.tz.off %></div>
        <!-- 
        <div class="gmt-time"><%= 'gtm = '+ gmt.getHours() + ':'+ gmt.getMinutes()  %></div>
-->
				<div class="mili"><%= cityTime.getTime() %></div>
				<div class="city-time">
				<span class="hours"></span><span class="sep">:</span><span class="minutes"></span>
					
				</div>
				<!-- 
        <div class="city-price"><a href="http://<%= city.u %>"><%= city.u %></a></div>
-->
				<form action="#/del/clock"  method="DELETE">
					<input name="clock_name" type="hidden" value="<%= city.ci %>"/>
					<input type="submit" value="delete clock!">
				</form>
				
				
</div>