<div class="clock fadein">
  <div class="delete_bt">
	<form action="#/del/clock"  method="DELETE">
		<input name="clock_name" type="hidden" value="<%= city.ci %>"/>
		<input type="submit" class="submit" value="×">
	</form>
	</div>
	
	
	<h2 class="city-name" alt="<%= city.ci %>"><%= city.acronym %></h2>
	<h3><%= city.tz.name %></h3>
	
	<div class="analog">
		<canvas clock="analog_canvas" class="CoolClock:felix:100:noSeconds:<%= (city.tz.off / 60) * -1  %>"></canvas>
	</div>
	
        <div class="offset"><%= city.tz.off %></div>
        <!-- 
        <div class="gmt-time"><%= 'gtm = '+ gmt.getHours() + ':'+ gmt.getMinutes()  %></div>
-->
				<div class="mili"><%= cityTime.getTime() %></div>
				<div class="city-time">
					<div class="ampm"> 
						<div class="am">AM</div><div class="pm">PM</div>
					</div>
				<span class="hours"></span><span class="sep">:</span><span class="minutes"></span>
				
					
				</div>
				<!-- 
        <div class="city-price"><a href="http://<%= city.u %>"><%= city.u %></a></div>
-->
				
				
</div>