<div class="clock">
	<h1 class="city-name"><%= city.ci %></h1>
	<h3><%= city.tz.name %></h3>
        <div class="offset"><%= city.tz.off %></div>
        
        <div class="gmt-time"><%= 'gtm = '+ gmt.getHours() + ':'+ gmt.getMinutes()  %></div>
				<div class="mili"><%= cityTime.getTime() %></div>
				<div class="city-time">
				<span class="hours">
				  
				</span>
				<span class="sep">:</span>
				<span class="minutes">
					 
				</span>
					
				</div>
        <div class="city-price"><a href="http://<%= city.u %>"><%= city.u %></a></div>
</div>